<div class="montage">
    <div class="img-box">
        <img src="../../images/gallery/001.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/003.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/004.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/013.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_0188.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_0197.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_0235.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_1490.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_2230.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_2291.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_2748.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_2814.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_2996.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_3006.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_6465.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_6468.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_8866.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_9218.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_9835.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/IMG_9851.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/LOGO.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/OD3_4557.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/OH3_0870.jpg" />
    </div>
    <div class="img-box">
        <img src="../../images/gallery/P1000944.jpg" />
    </div>
    <span id="close-button">&lt;</span>
</div>
<div class="menu">
    <div id="logo">
        <img class="logo-image" src="/Images/1x1-pixel.png" />
        <span class="logo-text">Artyshot dj</span>
    </div>
    <nav class="menu-buttons">

        <div class="menu-button" id="myself-button">
            <span class="record-niddle"></span>
            <span class="button-record"><span class="button-text">About Me</span></span>
        </div>
        <div class="menu-button" id="contact-button">
            <span class="record-niddle"></span>
            <span class="button-record"><span class="button-text">Contact</span></span>
        </div>
        <div class="menu-button" id="playlist-button">
            <span class="record-niddle"></span>
            <span class="button-record"><span class="button-text">Playlist</span></span>
        </div>
    </nav>
</div>
<content class="category-content">
  <div id="myself-content" class="category-content-content" contenteditable >
    <p>
    בא לכם מסיבה שיקית מעודכנת שלא מתחנפת לדודים ולדודות?<br />
בא לכם להיטים ממיטב הקיטש ?<br />
או לחילופין משהו יותר מעונב ורציני?<br />
אז דברו איתי כי אני אוהב את כולכם :) וכל הסגנונות היו בני<br />
אני מתקלט כבר כמה שנים, ועושה מוזיקה(בעיקר זמר) למעלה מעשור, אבל הכי חשוב זה שמאז ומתמיד הייתי צרכן אובססיבי למוזיקה וכל שטות שיוצאת אני חייב להכיר, ככה שעבור האירוע שלכם המגוון הוא רחב והשמיים הם הגבול
</p>
  </div>
  <div id="video-content" class="category-content-content">
  @*  <iframe src="http://player.vimeo.com/video/43038579" width="712" height="530" frameborder="0"
      webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>*@
  
  </div>
    <div id="playlist-content" class="category-content-content">
  </div>
  <div id="contact-content" class="category-content-content" >
    <p>
       <span class="contact-name"> יואב גנוט </span>
        <span class="contact-data">
הגליל 12 כפר סבא<br />
 0543972975<br />
 yoavgenut@gmail.com</span>
</p>
          <p class="english">
       <span class="contact-name"> Yoav Genut </span>
        <span class="contact-data">Hagalil 12 Kfar Saba<br />
 0543972975<br />
 yoavgenut@gmail.com</span>
</p>
  </div>
</content>

